@charset "utf-8";

@forward "./src/_general.scss";
@forward "./src/_colors.scss";
@forward "./src/_breadcrumb.scss";
@forward "./src/_header.scss";
@forward "./src/_footer.scss";
@forward "./src/_navbar.scss";
@forward "./src/_loader.scss";
@forward "./src/_form.scss";
@forward "./src/_dark.scss";

@forward 'bulma-quickview';
@forward '@creativebulma/bulma-tooltip/src/sass';
@forward '@samlam140330/bulma-switch/src/sass';

@font-face {
  font-family: 'Titillium Web';
  src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
}

:root {
  --bulma-light-h: 342deg;
  --bulma-light-s: 56%;
  --bulma-light-l: 34%;
  --bulma-primary-h: 342deg;
  --bulma-primary-s: 56%;
  --bulma-primary-l: 34%;
  --bulma-primary-dark-h: 347deg;
  --bulma-primary-dark-s: 70%;
  --bulma-primary-dark-l: 24%;
  --bulma-success-h: 93deg;
  --bulma-success-s: 56%;
  --bulma-success-l: 34%;
  --bulma-link-h: 217deg;
  --bulma-link-s: 61%;
  --bulma-link-l: 57%;
  --bulma-warning-h: 38deg;
  --bulma-warning-s: 100%;
  --bulma-warning-l: 66%;
  --bulma-danger-h: 347deg;
  --bulma-danger-s: 57%;
  --bulma-danger-l: 37%;
  --bulma-danger-dark-h: 347deg;
  --bulma-danger-dark-s: 70%;
  --bulma-danger-dark-l: 24%;
  --bulma-grey-lighter: #dbdbdb;
  --bulma-tabs-boxed-link-active-background-color: var(--bulma-link);
  --bulma-tabs-link-active-color: var(--bulma-white);
  --bulma-breadcrumb-item-color: #3f3e3eda;
  --bulma-breadcrumb-item-active-color: #7a7878da;
  --bulma-breadcrumb-item-separator-color: #3f3e3eda;
  --bulma-dropdown-menu-min-width: 17rem;
  --bulma-panel-heading-line-height: .5rem;
  --footer-background-color: var(--bulma-grey-lighter);
}

:root[data-theme=dark] {
  --footer-background-color: var(--bulma-body-background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --footer-background-color: var(--bulma-body-background-color);
  }
}

[data-theme=dark],
.theme-dark {
  background-color: var(--footer-background-color);
}


