.is-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.turbolinks-progress-bar {
  height: 5px;
  background: var(--bulma-danger);
}

.is-borderless {
  border: 0px;
}

label.is-required {
  &:after {
    content: '*';
    margin-left: 0.1rem;
    color: var(--bulma-danger);
    &:hover {
      content: 'required';
      cursor: 'help';
    }
  }
}


.is-capitalized-first {
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}

.is-small-caps {
  font-variant: small-caps;
}
